// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Images*/

.product-img.main {
	margin-bottom: 30px;
}

/*Comments*/

.comments-box {
	background-color: #ddd;
	padding: 25px;
}

.comments-box > h2 {
	font-size: 18px;
	margin: 5px 0 25px;
}

.comments-box h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.comments-box > p {
	margin:0 0 20px;
	padding-bottom: 10px;
}

.product-reviews p {
	margin: 10px 0;
}

.rated-caption {
	position: relative;
}

.rated {
	/*position: absolute;*/
	bottom: 1px;
}

h3 > .rated {
	bottom: 2px;
}

.comment-summary {
	margin-bottom: 10px;
}

/*Pay Button*/

.product_price {
	position: relative;
	display: inline;
}

.pay_button {
	position: absolute;
	display: inline;
	bottom: 1px;
	left: 100px;
	right: -140px;
}

.stripe-button-el {
	background-color: #000;
}

.stripe-button-el > span {
	padding: 1px 12px !important;
}


