/*General*/

body {
	color: #000;
}

a:hover {
	background-color: transparent;
}

p {
	margin: 30px 0;
}


/*Navigation*/

.navbar {
	border-radius: 0;
	background-color: #000;
	min-height: 46px;
	border: 0;
}

.brand {
	height: 45px;
	width: auto;
	margin: 20px 0 20px;
}

/*Carousel*/

.carousel-inner {
	background-color: #000;
}

.carousel-caption {
	font-family: 'ITC Avant Garde Gothic W05 Bol', helvetica, arial, sans-serif;
	font-size: 70px;
	line-height: 85%;
	letter-spacing: -0.03em;
	font-kerning: normal !important;
	text-rendering: optimizeLegibility;
	text-align: left;
	text-transform: uppercase;
	right: 5%;
	left: 55%;
	top: 5%;
	text-shadow: none;
	display: inline;
}

.carousel-control {
	background-image: none !important;
	text-shadow: none;
	color: #fff !important;
	opacity: 100;
	width: 7%;
}

.carousel-control:hover, .carousel-control:focus {
	background-color: rgba(0,0,0,0);
	color: #fff;
	opacity: 100;
}

.carousel-inner > .item > a > img {
	width: 50%;
}

.carousel-indicators {
	bottom: -60px;
}

.carousel-indicators > li {
	border: 0;
	border-radius: 0;
	background-color: #999;
	width: 12px;
	height: 12px;
	margin: 0;
}

.carousel-indicators > .active {
	background-color: #000;
}




/*Product Grid*/

.page_wrap {
	padding: 0;
}

.col-md-3 {
	padding-bottom: 30px;
}

.product_grid_box {
	background-color: #ccc;
	padding: 20px;
	color: #000000 !important;
	font-size: 16px;
	line-height: 28px;
	min-height: 174px;
	position: relative;
}

.product_grid_box h2 {
	margin: 0;
	line-height: 18px;
}

.product_grid_box .price {
	display: block;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
}

.product_grid_box a {
	display: block;
}

/*Product Page*/

.product_colour {
	font-size: 22px;
}

.colour_box {
	height: 20px;
	width: 20px;
	border: 1px solid #000;
	display: inline-block;
	margin-right: 8px;
	position: relative;
	top: 2px;
}


/*Footer*/

footer {
	margin-top: 25px;
}



/*Typography*/

body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	font-family: 'ITC Avant Garde Gothic W05 Bol', helvetica, arial, sans-serif;
	font-size: 28px;
	line-height: 85%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	text-align: left;
}

h2 {
	font-size: inherit;
	font-weight: bold;
}

h1.product_title {
	font-size: 70px;
	margin: 0;
}

.product_price {
	font-family: 'ITC Avant Garde Gothic W05 Bol', helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 26px;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: 'ITC Avant Garde Gothic W05 Bol', helvetica, arial, sans-serif;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	background-image: url("../img/nav-separator.png") no-repeat left center;
	padding: 13px 15px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #ccc;
}




