/*General*/

body {
	color: #000;
}



/*Navigation*/

.navbar {
	border-radius: 0;
	background-color: #000;
	min-height: 46px;
	border: 0;
}

.brand {
	height: 45px;
	width: auto;
	margin: 20px 0 20px;
}



/*Product Grid*/

.grid_wrap {
	padding: 0;
}

.col-md-3 {
	padding-bottom: 30px;
}

.product_grid_box {
	background-color: #ccc;
	padding: 20px;
	color: #000000 !important;
	font-size: 16px;
	line-height: 28px;
	min-height: 174px;
	position: relative;
}

.product_grid_box h2 {
	margin: 0;
	line-height: 18px;
}

.product_grid_box .price {
	display: block;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
}



/*Typography*/

body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	font-family: 'ITC Avant Garde Gothic W05 Bol', helvetica, arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align: left;
}

h2 {
	font-size: inherit;
	font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: 'ITC Avant Garde Gothic W05 Bol', helvetica, arial, sans-serif;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	background-image: url("../img/nav-separator.png") no-repeat left center;
	padding: 13px 15px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #ccc;
}


